<p id="notice"><%= notice %></p>

<p>
  <b>Quantidade:</b>
  <%= @item_compra.quantidade %>
</p>

<p>
  <b>Preco:</b>
  <%= number_to_currency(@item_compra.preco) %>
</p>

<p>
  <b>Produto:</b>
  <%= @item_compra.produto.nome %>
</p>


<%= link_to 'Editar', edit_item_compra_path(@item_compra) %> |
<%= link_to 'Voltar', new_item_compra_path %>
