<%=  form_for @compra do |f| %>
  <% if @compra.errors.any? %>
    <div id="error_explanation">
      <%= error_messages @compra %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :supermercado %><br />
    <%= f.collection_select(:supermercado_id, Supermercado.all, :id, :nome, {:prompt => true}) %>
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>