<p>
  <div class="field">
    <%= f.label :preco %><br />
    <%= f.text_field :preco %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br />
    <%= f.text_field :quantidade %>
  </div>
  <div class="field">
    <%= f.label :produto %><br />
    <%= f.text_field :produto %>
  </div>
</p>