<p>
  <b>Nome:</b>
  <%= @produto.nome %>
</p>

<p>
  <b>Unidade medida:</b>
  <%= @produto.unidade_medida.nome %>
</p>

<p>
  <b>Grupo:</b>
  <%= @produto.grupo.nome %>
</p>


<%= link_to 'Editar', edit_produto_path(@produto) %> |
<%= link_to 'Voltar', produtos_path %>
